<div class="min-h-screen flex justify-center items-center">
  <div class="card">
    <form class="flex flex-col gap-6" [formGroup]="loginForm">
      <div>
        <label for="username" class="input-label">Usuário</label>
        <input
          id="username"
          formControlName="username"
          class="input-field"
          required
          autofocus />
        <p
          *ngIf="submitted && loginForm.get('username')?.hasError('required')"
          class="input-error">
          Obrigatório
        </p>
      </div>
      <div>
        <label for="password" class="input-label">Senha</label>
        <input
          id="password"
          formControlName="password"
          class="input-field"
          type="password"
          required />
        <p
          *ngIf="submitted && loginForm.get('password')?.hasError('required')"
          class="mt-2 text-sm text-red-600 dark:text-red-500">
          Obrigatório
        </p>
        <p
          data-testid="unauthorized-error"
          *ngIf="isUnauthorized"
          class="mt-2 text-sm text-red-600 dark:text-red-500">
          E-mail ou senha incorretos.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <app-button
          [block]="true"
          [disabled]="isSubmitting"
          [loading]="isSubmitting"
          text="Entrar"
          (clicked)="login()">
        </app-button>
        <app-button variant="ghost" [block]="true" text="Esqueci minha senha">
        </app-button>
      </div>
    </form>
  </div>
</div>
