<div class="flex flex-col gap-8">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold">Transações</h1>
    <button appButton data-testid="add-button">Adicionar</button>
  </div>
  <app-search-input
    placeholder="Pesquisar transações"
    [initialValue]="filters().searchTerm"
    (searchChange)="onSearchTransaction($event)" />
  <div class="flex flex-col gap-4">
    @for (transaction of transactions; track transaction.id) {
      <app-transaction-card
        [transaction]="transaction"
        data-testid="transaction-card">
      </app-transaction-card>
    }
    @if (!transactionsLoaded) {
      @for (item of [1, 2, 3]; track item) {
        <app-transaction-card-skeleton
          data-testid="transaction-card-skeleton"></app-transaction-card-skeleton>
      }
    }
  </div>
  @if (!lastPage()) {
    <button
      appButton
      variant="secondary"
      (click)="onSeeMore()"
      data-testid="see-more">
      <i class="ti ti-refresh"></i>
      Carregar mais transações
    </button>
  }
</div>
