<div class="flex justify-between items-center">
  <h1 class="text-xl font-bold">Contas</h1>
  <button
    class="h-10 px-6 font-semibold rounded-md border border-slate-200 mr-1 text-gray-900 flex items-center hover:bg-gray-200 hover:scale-105 transition-all duration-300 ease">
    Adicionar
  </button>
</div>
<div
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-4">
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p class="font-medium">Moeda</p>
      <p>Real</p>
    </div>
    <div class="flex gap-2">
      <p class="font-medium">Posição</p>
      <p>1</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
  <div class="card card-pointer">
    <h3 class="mb-2 text-xl font-bold">Nubank</h3>
    <div class="flex gap-2">
      <p>Moeda</p>
      <p>Real</p>
    </div>
  </div>
</div>
