<div class="flex justify-between items-center mb-4">
  <h1 class="text-xl font-bold">Contas</h1>
  <button data-testid="add-button" (click)="addAccount()" class="btn-primary">
    Adicionar
  </button>
</div>

<ng-container *ngIf="!accountsLoaded; else accountCardBlock">
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-4">
    <app-account-card-skeleton *ngFor="let item of [1, 2, 3, 4]">
    </app-account-card-skeleton>
  </div>
</ng-container>
<ng-template #accountCardBlock>
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    <app-account-card
      [account]="account"
      *ngFor="let account of accounts"></app-account-card>
  </div>
</ng-template>
