<swiper [slidesPerView]="'auto'" [initialSlide]="currentMonthYearIndex">
  <ng-template swiperSlide *ngFor="let monthYear of monthsYears; index as i">
    <button
      [class.bg-gray-200]="isCurrentMonthYear(monthYear)"
      class="bg-white h-10 px-6 font-semibold rounded-md border border-slate-200 mr-2 text-gray-900 flex items-center hover:bg-gray-200 hover:scale-105 transition-all duration-300 ease"
      (click)="selectMonthYear.emit(monthYear)">
      {{ monthYear.month }}/{{ monthYear.year }}
    </button>
  </ng-template>
</swiper>
