<div
  class="px-2 py-3 mt-4 rounded-md border border-slate-200 shadow-lg hover:shadow-none transition-all duration-300">
  <h3 class="mb-2 text-xl font-bold">Nubank</h3>
  <div class="flex flex-col md:flex-row w-full">
    <div class="pr-4 justify-between w-full">
      <div class="text-lg font-semibold flex justify-between">
        <p>Entradas</p>
        <p>R$ 5000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Recebido</p>
        <p>R$ 2000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Agendado</p>
        <p>R$ 2000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Lançado</p>
        <p>R$ 3000.00</p>
      </div>
    </div>
    <div class="pr-4 justify-between w-full">
      <div class="text-lg font-semibold flex justify-between">
        <p>Saídas</p>
        <p>R$ 4000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Pago</p>
        <p>R$ 2000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Agendado</p>
        <p>R$ 500.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Lançado</p>
        <p>R$ 1500.00</p>
      </div>
    </div>
    <div class="pr-4 justify-between w-full">
      <div class="text-lg font-semibold">
        <p>Saldo</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Balanço</p>
        <p>R$ 1500.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Atual</p>
        <p>R$ 1000.00</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Previsto</p>
        <p>R$ 500.00</p>
      </div>
    </div>
  </div>
</div>
