<div
  class="p-4 mt-4 rounded-md border border-slate-200 shadow-lg hover:shadow-none transition-all duration-300">
  <h3 class="mb-2 text-xl font-bold">{{ account?.name }}</h3>
  <div class="flex flex-col md:flex-row gap-4 w-full">
    <div class="justify-between w-full">
      <div class="text-lg font-semibold flex justify-between">
        <p>Entradas</p>
        <p>{{ account?.totalDeposits | currency: account?.currencyCode }}</p>
      </div>
      <div
        class="text-sm flex justify-between"
        *ngFor="let status of account?.depositStatus">
        <p>{{ status }}</p>
        <p>
          {{
            account?.totalDepositsBy(status) | currency: account?.currencyCode
          }}
        </p>
      </div>
    </div>
    <div class="justify-between w-full">
      <div class="text-lg font-semibold flex justify-between">
        <p>Saídas</p>
        <p>{{ account?.totalWithdrawals | currency: account?.currencyCode }}</p>
      </div>
      <div
        class="text-sm flex justify-between"
        *ngFor="let status of account?.withdrawalStatus">
        <p>{{ status }}</p>
        <p>
          {{
            account?.totalWithdrawalsBy(status)
              | currency: account?.currencyCode
          }}
        </p>
      </div>
    </div>
    <div class="justify-between w-full">
      <div class="text-lg font-semibold">
        <p>Saldo</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Balanço</p>
        <p>{{ account?.gap | currency: account?.currencyCode }}</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Atual</p>
        <p>{{ account?.currentBalance | currency: account?.currencyCode }}</p>
      </div>
      <div class="text-sm flex justify-between">
        <p>Previsto</p>
        <p>{{ account?.expectedBalance | currency: account?.currencyCode }}</p>
      </div>
    </div>
  </div>
</div>
