<button
  class="w-full flex cursor-pointer items-center gap-3 rounded-xl border border-brand-border bg-white py-3 px-4 hover:border-primary-500 hover:shadow-sm transition-all">
  <div
    class="w-9 h-9 rounded-lg flex items-center justify-center bg-secondary-100 text-secondary-400">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="grow flex flex-col gap-0.5">
    <p
      data-testid="description"
      class="text-left truncate text-sm font-medium text-brand-dark">
      {{ transaction().description }}
    </p>
    <div class="flex flex-wrap items-center gap-1.5 text-xs text-brand-muted">
      <div class="flex items-center gap-1.5">
        <i class="fa-xs fa-solid fa-building-columns"></i>
        <p data-testid="account" class="text-xs">
          {{ transaction().account.name }}
        </p>
      </div>
      <span>·</span>
      <span
        class="rounded bg-info-50 px-1.5 py-0.5 text-xxs font-medium text-info-700 border border-info-200">
        {{ transaction().category.name }}
      </span>
      <span>·</span>
      @if (transaction().tags.length > 0) {
        @for (tag of transaction().tags; track tag.id) {
          <p
            data-testid="tag"
            class="rounded border border-brand-border bg-surface px-1 text-xxs">
            {{ tag.name }}
          </p>
        }
        <span data-testid="tag-separator">·</span>
      }
      <p data-testid="date">
        Mov.
        {{ transaction().date | date: "EEE, d 'de' MMM" }}
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1 justify-between items-end">
    <p
      data-testid="amount"
      class="text-sm font-semibold whitespace-nowrap"
      [class.text-success-700]="isIncome()">
      {{ isExpense() ? '-' : '+'
      }}{{ transaction().amount | currency: transaction().account.currency }}
    </p>
    <div
      data-testid="status"
      class="flex items-center gap-0.5 rounded-full py-0.5 px-2 text-xxs font-medium"
      [class]="status().classes">
      <i [class]="status().icon"></i>
      <p>
        {{ status().label }}
      </p>
    </div>
  </div>
</button>
